<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Catalog - CodesForGamers</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      background-color: #636f82;
    }



    h2 {
      text-align: center;
      color: white;
      font-weight: bold;
    }
    .text{
    font-size: 1.2em;
    color: white;
    font-weight: bold;
  }

    form {
      max-width: 400px;
      margin: 20px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .form-group {
      margin-bottom: 20px;
    }

    label {
      display: block;
      margin-bottom: 5px;
      color: #333;
    }

    input {
      width: 100%;
      padding: 8px;
      margin-bottom: 10px;
      box-sizing: border-box;
    }

    button {
      width: 100%;
      padding: 10px;
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button:hover {
      background-color: #0056b3;
    }

    @media screen and (max-width: 600px) {
      form {
        max-width: 100%;
      }
    }
    .error-message {
    color: red;
    font-weight: bold;
    }

    #content-container {
        margin-left: 5%;
        margin-right: 5%;

    }

    .small-button {
      max-width: 30%;
      margin: auto;
      background-color: #333333;
    }

    .center-container {
    text-align: center;
  }

</style>

  <script>
    function toggleTable(tableId) {
      var tableContainer = document.getElementById(tableId + 'Container');
      if (tableContainer.style.display === 'none') {
        tableContainer.style.display = 'block';
      } else {
        tableContainer.style.display = 'none';
      }
    }
  </script>




</head>

<body>

<div th:include="fragments/header.html"></div>
<br>



<div id="content-container" >
  <h2>CATEGORIES</h2>
  <div class="center-container">
    <button class="btn btn-secondary btn-sm small-button" onclick="toggleTable('categoriesTable')">Show Categories</button>
  </div>
  <div id="categoriesTableContainer" style="display: none;">
  <table class="table">
    <thead>
    <tr>
      <th class="text">ID</th>
      <th class="text">Name</th>
      <th class="text">Description</th>
      <th class="text">Games</th>
      <th class="text">Action</th>
    </tr>
    </thead>
    <tbody>
    <!-- Create a categoy -->
    <tr>
      <td></td> <!-- Placeholder for ID, as it will be generated by the system -->
      <td>
        <!-- Open the form for creating a new category -->
        <form th:action="@{/admin/createCategory}" method="post">
          <input type="text" name="newCategoryName" placeholder="New Category Name" class="form-control" required />
          <div th:if="${errorCreateCategory}" class="alert alert-danger" role="alert">
            <p th:text="${errorCreateCategory}"></p>
          </div>
      </td>
      <td>
        <input type="text" name="newCategoryDescription" placeholder="New Category Description" class="form-control" required/>
      </td>
      <td></td>
      <td>
        <button type="submit" class="btn btn-success">Create</button>
        <!-- Close the form for creating a new category -->
        </form>
      </td>
    </tr>

    <div th:if="${errorUpdateCategory}" class="alert alert-danger" role="alert">
      <p th:text="${errorUpdateCategory}"></p>
    </div>
    <div th:if="${errorDeleteCategory}" class="alert alert-danger" role="alert">
      <p th:text="${errorDeleteCategory}"></p>
    </div>
    <!-- Iterate over categories -->
    <tr th:each="category : ${categories}">
      <td class="text" th:text="${category.id}"></td>
      <td>
        <!-- Open the form for each category -->
        <form th:action="@{'/admin/updateCategory/' + ${category.id}}" method="post">
          <!-- Set the method to POST, as browsers do not support PUT directly -->
          <input type="hidden" name="_method" value="PUT" th:method="post" />
          <input type="hidden" name="categoryId" th:value="${category.id}" />
          <input type="text" name="categoryName" th:value="${category.name}" class="form-control" required/>
      </td>
      <td>
        <input type="text" name="categoryDescription" th:value="${category.description}" class="form-control" required />
      </td>
      <td>
        <div th:each="game : ${categoryGamesMap.get(category.id)}">
          <span class="text" th:text="${game.name}"></span>
          <br/>
        </div>
      </td>
      <td>
        <button type="submit" class="btn btn-primary">Update</button>
        <!-- Close the form for each category -->
        </form>
        <form th:action="@{'/admin/deleteCategory/' + ${category.id}}" method="post" onsubmit="return confirm('Are you sure you want to delete this category?')">
          <input type="hidden" name="_method" value="DELETE" th:method="post" />
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>

      </td>
    </tr>
    </tbody>
  </table>
  </div>

  <br>
  <br>


  <h2>GAMES</h2>
  <div class="center-container">
  <button class="btn btn-secondary btn-sm small-button" onclick="toggleTable('gamesTable')">Show Games</button>
    </div>
  <div id="gamesTableContainer" style="display: none;">
  <table class="table">
    <thead>
    <tr>
      <th class="text">ID</th>
      <th class="text">Name</th>
      <th class="text">Description</th>
      <th class="text">Publisher</th>
      <th class="text">Price (€)</th>
      <th class="text">Categories</th>
      <th class="text">Action</th>
    </tr>
    </thead>
    <tbody>
    <!-- New game form -->
    <tr>
      <td></td> <!-- Placeholder for ID, as it will be generated by the system -->
      <td>
        <form th:action="@{/admin/createGame}" method="post">
          <input type="text" name="newGameName" placeholder="New Game Name" class="form-control" required/>
          <div th:if="${errorCreateGame}" class="alert alert-danger" role="alert">
            <p th:text="${errorCreateGame}"></p>
          </div>
      </td>
      <td>
        <input type="text" name="newGameDescription" placeholder="New Game Description" class="form-control" required/>
      </td>
      <td>
        <input type="text" name="newGamePublisher" placeholder="New Game Publisher" class="form-control" required/>
      </td>
      <td>
        <input type="text" name="newGamePrice" placeholder="New Game Price" class="form-control"
               pattern="^\d+(\.\d{1,2})?$"
               title="Please enter a valid float value (e.g., 10 or 10.99)" required />
      </td>
      <td></td>
      <td>
        <button type="submit" class="btn btn-success">Create</button>
        </form>
      </td>
    </tr>

    <div th:if="${errorUpdateGame}" class="alert alert-danger" role="alert">
      <p th:text="${errorUpdateGame}"></p>
    </div>
    <div th:if="${errorDeleteGame}" class="alert alert-danger" role="alert">
      <p th:text="${errorDeleteGame}"></p>
    </div>
    <div th:if="${errorUploadImage}" class="alert alert-danger" role="alert">
      <p th:text="${errorUploadImage}"></p>
    </div>
    <!-- Iterate over games -->
    <tr th:each="game : ${games}">
      <td class="text" th:text="${game.id}"></td>
      <td>
        <!-- Open the form for each game -->
        <form th:action="@{'/admin/updateGame/' + ${game.id}}" method="post">
          <!-- Set the method to POST, as browsers do not support PUT directly -->
          <input type="hidden" name="_method" value="PUT" th:method="post" />
          <input type="hidden" name="gameId" th:value="${game.id}" />
          <input type="text" name="gameName" th:value="${game.name}" class="form-control" required/>
          <th:block th:if="${game.imagePath != null}">
            <!-- Use th:src to directly embed the image in the HTML -->
            <img th:src="@{'/images/' + ${game.imagePath}}" alt="Game Image" class="img-thumbnail"/>
          </th:block>
          <th:block th:unless="${game.imagePath != null}">
            <img th:src="@{/images/placeholder.jpg}" alt="No Image" class="img-thumbnail"/>
          </th:block>
      </td>
      <td>
        <input type="text" name="gameDescription" th:value="${game.description}" class="form-control" required/>
      </td>
      <td>
        <input type="text" name="gamePublisher" th:value="${game.publisher}" class="form-control" required />
      </td>
      <td>
        <input type="text" name="gamePrice" th:value="${game.price}" class="form-control" required/>
      </td>
      <td>
        <div th:each="category : ${gameCategoriesMap.get(game.id)}">
          <span class="text" th:text="${category.name}"></span>
          <br/>
        </div>
      </td>
      <td>
        <button type="submit" class="btn btn-primary">Update</button>
        <!-- Close the form for each game -->
        </form>
        <form th:action="@{'/admin/deleteGame/' + ${game.id}}" method="post" onsubmit="return confirm('Are you sure you want to delete this game?')">
          <input type="hidden" name="_method" value="DELETE" th:method="post" />
          <button type="submit" class="btn btn-danger">Delete</button>
        </form>
        <form th:action="@{/admin/uploadImage}" method="post" enctype="multipart/form-data">
          <input type="file" name="imageFile" id="imageFile" class="form-control" accept="image/jpeg" />
          <!-- Hidden input to store the game ID -->
          <input type="hidden" name="gameId" th:value="${game.id}" />
          <input type="hidden" name="gameName" th:value="${game.name}" />
          <button type="submit" class="btn btn-success">Upload Image</button>
        </form>

      </td>
    </tr>
    </tbody>
  </table>
  </div>

  <br>
  <br>

  <h2>Link/Unlink Categories and Games</h2>
  <div class="center-container">
    <button class="btn btn-secondary btn-sm small-button" onclick="toggleTable('linkTable')">Show Link Form</button>
  </div>
  <div id="linkTableContainer" style="display: none;">
    <form th:action="@{'/admin/linkUnlinkAction'}" method="post">
      <table class="table">
        <thead>
        <tr>
          <th>Game ID</th>
          <th>Category ID</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <div th:if="${errorLink}" class="alert alert-danger" role="alert">
          <p th:text="${errorLink}"></p>
        </div>
        <tr>
          <td>
            <input type="text" name="linkGameId" placeholder="Game ID" class="form-control" required/>
          </td>
          <td>
            <input type="text" name="linkCategoryId" placeholder="Category ID" class="form-control" required/>
          </td>
          <td>
            <button type="submit" name="action" value="link" class="btn btn-success btn-sm">Link</button>
            <br>
            <button type="submit" name="action" value="unlink" class="btn btn-danger btn-sm">Unlink</button>
          </td>
        </tr>
        </tbody>
      </table>
    </form>

  </div>

</div>
</body>

</html>